.scratch-player-root {
    min-height: 40vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.scratch-player-stage-wrap {
    position: relative;
    flex: 1;
    min-height: 0;
}

.scratch-player-stage,
.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    background-color: #000;
    border: 0;
    padding: 0;
    color: inherit;
}

.launch-screen {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.green-flag {
    width: 80px;
    height: 80px;
    padding: 16px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.75);
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.progress-bar-outer {
    border: 1px solid currentColor;
    height: 10px;
    width: 200px;
    max-width: 200px;
}

.progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: currentColor;
}

.loading-text {
    font-weight: 400;
    font-size: 36px;
    margin: 0 0 16px;
}

.loading-image {
    margin: 0 0 16px;
}

.error-stack {
    font-family: monospace;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    white-space: pre-wrap;
    max-width: 600px;
    user-select: text;
    -webkit-user-select: text;
}

.control-button {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

.control-button:hover {
    background: hsla(0, 100%, 65%, 0.15);
}

.control-button.active {
    background: hsla(0, 100%, 65%, 0.35);
}

.fullscreen-button {
    background: #fff;
}

.sc-canvas {
    cursor: auto;
}

.download-button {
    margin: 8px;
    align-self: flex-start;
}
